/*
Author: Gautier-Grall Maxence 
Date: 2025-09-19 
*/

body {
  background-color: #f0f0f0; /* couleur de fond */
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  font-size: 36px;
}

p {
  color: #333333;
}
