/*
Author: Gautier-Grall Maxence 
Date: 2025-09-19 
*/

body {
  background-color: #1e1e1e; /* exemple : fond sombre */
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center; /* centre horizontalement */
  padding-top: 40px;  /* espace depuis le haut */
}

h1 {
  color: rgb(253, 253, 253);
  font-size: 36px;
}

p {
  color: #faefef;
}
