/*
Author: Gautier-Grall Maxence 
Date: 2025-09-19 
*/

body {
  background-color: #000000; /* couleur de fond */
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(253, 253, 253);
  font-size: 36px;
}

p {
  color: #faefef;
}
