/*
Author: Gautier-Grall Maxence
Date: 2025-10-03 
*/


body {
  background-color: #000;
  color: #ffa500; 
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,h2 {
  color: #ff8c00; 
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #ffa500;
}

/*div*/
.box {
  background-color: #111;
  padding: 10px;
  border: 1px solid #ff8c00;
  margin-bottom: 20px;
}
.highlight {
  color: #ffae42;
  font-weight: bold;
}
.student {
  font-style: italic;
  margin-top: 15px;
  color: #ffae42;
}


#special-message {
  background-color: #1a1a1a;
  padding: 8px;
  border-left: 4px solid #ff8c00;
}

body ol li {
  margin-left: 20px;
  color: #ffa500;
  margin-bottom: 5px;
}


a[target="_blank"] {
  text-decoration: underline;
  margin-bottom: 20px;
}

a{
  color: #ff8c00;
  margin-bottom: 20px;
}

img[alt] {
  box-shadow: 2px 2px 5px rgba(255, 140, 0, 0.5);
  border-radius: 10px;
}
